<div class="message">
  <div class="upper-message">
    <div class="message-user">
    <%# messagesテーブルのuser_idに紐付いているユーザー名を、user.nameと記述することで取得 %>
    <%= message.user.name %>

    </div>
    <div class="message-date">
    <%# messagesテーブルのuser_idに紐付いているユーザー名を、user.nameと記述することで取得 %>
    <%= l message.created_at %>
      

    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
    <%# messagesテーブルのcontentカラムから、メッセージの内容を取得 %>
    <%= message.content %>
    </div>
    <%# if message.image.attached?画像が存在する場合のみimage_tagが読み込まれるようになります。 %>
    <%# variantメソッドを使用することで、ファイルの表示サイズを指定 %>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
  </div>
</div>
