<div class="side-bar-header">
 <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
 </div>
 <div class="create-room">
   <%= link_to "チャットを作成する", new_room_path %>
  </div>
 </div>
 
<div class="rooms">
<%# チャットルームは複数作成出来るので、「eachメソッド」を使って全てのチャットルームに対して同じ処理を繰り返し実行します。 %>
<%# 今回でしたら、「チャットルーム名を表示する」という処理を繰り返し実行しています。 %>
<% current_user.rooms.each do |room| %>
 <div class="room">
  <div class="room-name">
  <%# room.nameの「name」は、roomsテーブルのカラム名 %>
   <%= link_to room.name, room_messages_path(room) %>
  </div>
   </div>
 <% end %>
</div>
